body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: deepskyblue;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-view {
  overflow-x: hidden;
  overflow-y: auto;
}

.feedback {
  background-image: url('./assets/sky.jpeg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .car {
    position: absolute;
    transform: translateX(-50%);
    left: 0;
    bottom: -10px;
    width: 100px;
  }
}
